:root {
    --accent-color: rgb(97, 0, 223);
    --dark-color: #0d0c0f;
    --light-color: rgb(244, 245, 245);
}

.about-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 15%;
}

h1 {
    font-size: 3rem;
}

.headshot {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    width: 30%;
}

.headshot:hover {
    scale: 1.1;
}

.info-container {
    margin-left: 5%;
    width: 60%;
}

.skills-section {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: none;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 5% 10% 10%;
}


.carousel-container {
    margin: 20%;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carousel-container .slide {
    border-radius: 10px;
    background-color: var(--dark-color);
    height: 300px;
    left: 50%;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 320px;
    z-index: -1;
}

.slide img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.slide.active {
    -webkit-box-shadow: 0 0 105px -35px rgba(93, 0, 233, 0.75);
    box-shadow: 0 0 105px -35px rgba(93, 0, 233, 0.75);
    opacity: 1;
    z-index: 99;
}

.slide.prev {
    opacity: 0.25;
    -webkit-transform: translate(-125%, -50%);
    -ms-transform: translate(-125%, -50%);
    transform: translate(-125%, -50%);
    z-index: 2;
}

.slide.next {
    opacity: 0.25;
    -webkit-transform: translate(20%, -50%);
    -ms-transform: translate(20%, -50%);
    transform: translate(20%, -50%);
    z-index: 2;
}

.carousel-container .button-container {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    width: 275px;
    z-index: 100;
}

.button-container .button {
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 32px;
    position: relative;
    opacity: 0.75;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.button-container .button:hover {
    opacity: 1;
}

.button-container .button:before {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    content: "";
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    z-index: -99;
}

.button-container .button:nth-child(1) {
    right: 14%;
}

.button-container .button:nth-child(2) {
    left: 100%;
}

.mobile {
    display: none;
}

.footer {
    margin-top: 48px;
}

@media screen and (max-width: 768px) {

    li {
        background-color: var(--dark-color);
    }

    .skills-div {
        margin-top: 10%;
    }

    .carousel-container {
        margin-top: 70%;
        margin-bottom: 120%;
    }


    .headshot {
        width: 85%;
    }

    .about-container {
        top: 0;
    }

}

@media only screen and (max-width: 600px) {
    .button-container .button:nth-child(1) {
        right: 25%;
    }

    .button-container .button:nth-child(2) {
        left: 25%;
    }

    .slide.next {
        -webkit-transform: translate(-50%, 40%);
        -ms-transform: translate(-50%, 40%);
        transform: translate(-50%, 40%);
    }

    .slide.prev {
        opacity: 0.25;
        -webkit-transform: translate(-50%, -125%);
        -ms-transform: translate(-50%, -125%);
        transform: translate(-50%, -125%);
        z-index: 2;
    }

    .button-container .button:nth-child(1) {
        right: 0;
    }

    .button-container .button:nth-child(2) {
        left: 87%;
    }

    .carousel-container .slide {
        height: 150px;
        width: 250px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

}