:root {
    --accent-color: rgb(97, 0, 223);
    --dark-color: #0d0c0f;
    --medium-color: rgb(16, 14, 19);
    --light-color: rgb(244, 245, 245);
    --color-opacity: rgba(97, 0, 223, 0.2);
}

* {
    text-align: left;
}

li {
    background-color: var(--dark-color);
    text-align: center;
}

.container {
    align-items: center;
    background: var(--dark-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

form {
    background-color: var(--dark-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 85vh;
    max-width: 600px;
    padding: 2vw 4vw;
    width: 90%;
}

form h3 {
    color: var(--accent-color);
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
}

form input,
form textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--color-opacity);
    color: var(--light-color);
    font-size: 16px;
    margin: 10px 0;
    padding: 15px;
    outline: none;
}

form input:focus,
form textarea:focus {
    border-color: var(--accent-color);
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--light-color) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--dark-color) inset !important;
    border-bottom: 1px solid var(--accent-color);
}

form button {
    background: var(--color-opacity);
    border: 0.5px solid var(--accent-color);
    border-radius: 30px;
    color: var(--light-color);
    font-family: futura;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1rem;
    margin: 20px auto 0;
    outline: none;
    padding: 8px;
    text-align: center;
    transition: 0.5s;
    width: 100px;
}

form button:hover {
    box-shadow: 0 0 10px 0 var(--accent-color);
    cursor: pointer;
    scale: 1.05;
}

.socials-footer {
    text-align: center;
}

@media only screen and (max-width: 678px) {

    .container {
        height: 80vh;
    }

    form {
        justify-content: center;
    }
}