:root {
    --accent-color: rgb(97, 0, 223);
    --dark-color: #0d0c0f;
    --medium-color: rgb(16, 14, 19);
    --light-color: rgb(244, 245, 245);
    --color-opacity: rgba(97, 0, 223, 0.03);
}

body {
    align-items: center;
    justify-content: center;
}



p {
    color: var(--light-color);
    padding: 3%;
    z-index: 5;
}


h1 {
    color: var(--accent-color);
    font-size: 3rem;
    padding-top: 15%;
}

h2 {
    color: var(--accent-color);
    font-family: futura;
    font-size: 2rem;
    margin-bottom: 2%;
}

h3 {
    background: transparent;
    font-family: futura;
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 10%;
}

.container {
    padding: 5%;
}

.btn-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 92%;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: auto;
    max-width: 916px;
    width: calc(100% - 20px);
}

#cards:hover > .card > .card-border {
    opacity: 1;
}

.card {
    background-color: var(--color-opacity);
    border: 1px solid rgba(93, 0, 223, 0.15); 
    border-radius: 10px;
    height: 260px;
    position: relative;
    width: 300px;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card > .card-border {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    z-index: 2;
}

.card::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
    rgba(93, 0, 223, 0.3), transparent 40%);
    z-index: 3;
}

.card > .card-border {
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y),
    rgba(93, 0, 223, 0.15), transparent 40%);
    z-index: 1;
}

.card > .card-content {
background-color: var(--medium-color);
border-radius: inherit;
 height: calc(100% - 2px);
 margin: 1px;
 position: relative;
 width: calc(100% - 2px);
 z-index: 2;
}

.frontend-container {
    height: 100vh;
}

.container img {
    border-radius: 10px;
   height: 255px;
   width: 290px; 
}

hr {
    margin: 16px 40px;
}

@media screen and (max-width: 768px) {
    .btn-container {
        width: 80%;
    }

    h2 {
        margin: 5%;
    }

    .card {
        margin: auto;
        margin-bottom: 20px;
    }

    .card-frontend{
        margin-bottom: 180px;
    }
    .frontend-container {
        height: 220vh;
    }

    .front-projects {
        position: relative;
        top: 12%;
    }
}

@media only screen and (min-width: 1300px) {
    
    .btn-container {
        position: relative;
        right: 1.5%;
    }

    
    

}