:root {
    --accent-color: rgb(97, 0, 223);
    --dark-color: #0d0c0f;
    --medium-color: rgb(16, 14, 19);
    --light-color: rgb(244, 245, 245);
  }

.project-card {
    box-shadow: 0 0 5px 0 var(--accent-color);
    height: 500px;
    margin: 16px;
    padding-bottom: 5%;
    transition: 0.7s;
    width: 400px;
}

.project-card:hover {
    box-shadow: 0 0 20px 0 var(--accent-color);
    scale: 1.02;
}

.project-card img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 50%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subtext {
    margin: 5%;
    font-size: 15px;
    font-weight: 300;
}

p {
    color: var(--light-color);
}

h3 {
    color: var(--light-color);
}

h2 {
    color: var(--accent-color);
    font-size: 3rem;
    padding-top: 15%;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

main {
    background-color: var(--dark-color);
}
