:root {
    --accent-color: rgb(97, 0, 223);
    --dark-color: #0d0c0f;
    --medium-color: rgb(16, 14, 19);
    --light-color: rgb(244, 245, 245);
    --color-opacity: rgba(97, 0, 223, 0.1);
    --opacity-slide: 0.5;
    --height-slider: 500px;
    --color-slider: rgba(123, 0, 223, 0.6);
    --height-responsive: 500px;
}

* {
    background-color: var(--dark-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

section {
    border-bottom: 1px solid rgb(0, 0, 0);
    color: var(--light-color);
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    background: transparent;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
    list-style: none;
    width: 40%;
    z-index: 10;
}

li {
    background: transparent;
    cursor: pointer;
    margin-top: 32px;
}

a {
    background: transparent;
    text-decoration: none;
    color: var(--light-color);
}

h1 {
    background-color: transparent;
    color: var(--accent-color);
    font-size: 4rem;
    letter-spacing: 0.1rem;
    transition: 1s;
}

h3 {
    color: var(--accent-color);
    font-size: 2.3rem;
    font-family: futura;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

h2 {
    font-weight: 500;
    letter-spacing: 0.2rem;
}

p {
    background-color: transparent;
    font-size: 1rem;
    padding: 2%;
}

.nav-link {
    text-decoration: none;
}

.nav-menu {
    left: 16%;
    position: relative;
}

.nav-menu-front {
    left: 30%;
}

.bar {
    background-color:var(--light-color);
    display: none;
    height: 2px;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
    width: 25px;
    -webkit-transition: all 0.3s ease-in-out;
}

.submenu {
    display: none;
    flex-direction: column;
    position: absolute;
}

.submenu li {
    margin: 8px 0 0 0;
    padding: 4px 0;
    text-align: left;
    width: 100px;
    z-index: 99;
}

#current-page {
    color: var(--accent-color);
}

.hero {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: futura;
    font-size: 2rem;
    height: 100vh;
}

.logo {
    background: transparent;
    height: 90px;
    position: fixed;
    transition: 0.7s;
    z-index: 99;
}

.logo:hover {
    scale: 1.3;
}

.header-text {
    background-color: transparent;
    position: relative;
    top: 26%;
    z-index: 10;
}

.header-text p {
    letter-spacing: 0.4rem;
}

h1:hover {
    text-shadow: 0 0 5px var(--light-color);
}

.header-text p {
    font-weight: 300;
    font-size: 1.7rem;
    padding: 0;
}

.btn {
    background-color: var(--dark-color);
    border: 1px solid var(--accent-color);
    border-radius: 40px;
    color: var(--accent-color);
    font-size: 1.1rem;
    font-family: futura;
    font-weight: 600;
    height: 1.8rem;
    margin: 16px auto;
    text-align: center;
    transition: 0.5s;
    padding: 2px;
    position: relative;
    width: 6rem;
}

.btn:hover {
    box-shadow: 0 0 10px 0 var(--accent-color);
    cursor: pointer;
    scale: 1.05;
}

.socials {
    background: transparent;
    color: var(--light-color);
    position: absolute;
    margin: auto;
    top: 93%;
    width: 100%;
    z-index: 10;
}

.socials-icon {
    background: transparent;
    height: 40px;
}

.work-together-section {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 10%;
}

.work-together-div {
    margin: 10% 0;
}

.lines-image {
    width: 40%;
}

.work-together-div p,
.What-I-Like p {
    font-family: caslon;
    font-size: 1rem;
}


.What-I-Like {
    color: var(--light-color);
    padding: 4%;
    margin: auto;
}

section.slide {
    display: block;
    height: 100vh;
    width: 100%;
}

section.slide .slider-container {
    background-color: #FFFFFF;
    bottom: 40px;
    display: block;
    height: 60%;
    left: 32%;
    margin-left: 3%;
    overflow: hidden;
    position: relative;
    width: 30%;
    z-index: 5;
}

section.slide .slider-container .slider-wrapper li .capa {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: block;
    font-family: futura;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 92;
}

.page-link {
    text-decoration: underline;
    transition: 0.5s;
}

.page-link:hover {
    color: var(--accent-color);

}

.hidden {
    filter: blur(5px);
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
}

.toshow {
    display: none;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media screen and (max-width: 768px) {
    

    .nav-menu {
        border-bottom: 1px solid rgba(97, 0, 223, 0.1);
        flex-direction: column;
        gap: 0;
        left: -100%;
        position: absolute;
        top: 70px;
        transition: 0.3s;
        width: 100%;
        z-index: 40;
    }

    li {
        font-size: 1rem;
        margin: 0;
        padding: 8px 0;
        left: 0; 
    }
    
    .top-layer-nav {
        border-bottom:1px solid rgba(123, 0, 223, 1);
        padding-bottom: 16px;
    }

    .submenu li {
        background-color: transparent;
        left: 105px;
        margin: 0 auto;
        padding-top: 16px;
        text-align: center;
        width: 100%;
    }

    .submenu {
        position: relative;
        width: 100%;
    }

    .nav-menu.active {
        left: 0;
    }

    nav {
        margin: 10px;
    }

    .bar {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }

    .hamburger {
        background: transparent;
        position: relative;
        right: 5px;
        top: 5px;
        z-index: 10;
    }

    .logo {
        bottom: 20px;
        right: 15px;
        position: relative;
    }

    .header-text {
        margin: 4px;
        top: 20%;
    }

    .lines-image {
        width: 100%;
        transform: scale(-1.3);
    }

    section.slide .slider-container {
        width: 85%;
        height: 60%;
        top: 10px;
        left: 19px;
    }

    .container {
        flex-direction: column;
        
    }

    .work-together-div {
        padding: 5%;
        margin: 20% 0;
    }


}

@media only screen and (min-width: 1300px) {

  

}